.foot {
    margin-top: auto;
    background-color:#DEAC80;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    z-index: 2;
}
.foot h5{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color:white;
}



.foot a {
     color: rgb(255, 255, 255);  /* Change this to your desired color */
      text-decoration: none;  
}
.foot a:hover {
    background-color: #f3f2f22c;
}
.info li {
  color:rgb(255, 255, 255);
}
